@model IEnumerable<OrderVM>

@{
    ViewData["Title"] = "Orders";
}

<table>
    <thead>
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th>Customer</th>
        <th>Role</th>
    </tr>
    </thead>
    @foreach (var order in Model)
    {
        <tbody>
        <tr>
            <td>@order.ProductName</td>
            <td>@order.Quantity</td>
            <td>@order.Price</td>
            <td>@order.Total</td>
            <td>@order.CustomerName</td>
            <td>@order.RoleName</td>
        </tr>
        </tbody>
    }
</table>