@model IEnumerable<OrderVM>

@{
    ViewData["Title"] = "Orders";
}

<div class="text-center">
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
            <th scope="col">Customer</th>
            <th scope="col">Role</th>
        </tr>
        </thead>
        @foreach (var order in Model)
        {
            <tbody>
            <tr>
                <td scope="row">@order.ProductName</td>
                <td>@order.Quantity</td>
                <td>@order.Price</td>
                <td>@order.Total</td>
                <td>@order.CustomerName</td>
                <td>@order.RoleName</td>
            </tr>
            </tbody>
        }
    </table>
</div>